<%= form_with(model: [@project, @task], local: true) do |form| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h5>Fix these errors:</h5>
      <ul class="mb-0">
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-md-6">
      <%= form.label :due_date, class: "form-label" %>
      <%= form.date_field :due_date, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, Task.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "form-select" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :priority, class: "form-label" %>
    <%= form.select :priority, Task.priorities.keys.map { |priority| [priority.humanize, priority] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :assigned_user_id, "Assigned user", class: "form-label" %>
    <%= form.collection_select :assigned_user_id, @project.members, :id, :name, { prompt: "Unassigned" }, class: "form-select" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back", project_path(@project), class: "btn btn-link text-decoration-none" %>
  </div>
<% end %>
