<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <h5>Fix these errors:</h5>
      <ul class="mb-0">
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-md-6">
      <%= form.label :deadline, class: "form-label" %>
      <%= form.date_field :deadline, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, Project.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "form-select" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :member_ids, "Team members", class: "form-label" %>
    <%= form.collection_select :member_ids, User.order(:name), :id, :name, { prompt: "Choose team members", include_hidden: false }, { multiple: true, class: "form-select" } %>
    <div class="form-text">Hold Ctrl / Cmd to select multiple users.</div>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", projects_path, class: "btn btn-link text-decoration-none" %>
  </div>
<% end %>
